body {
	margin: 0;
	background-color: white;
	font-family: sans-serif;
}

.page-qualifier {
	color: #d2dde9;
}

section .section-header {
	border-left: 10px solid #335fa5;
	padding-left: 10px;
}

header {
	background: #335fa5;
	padding-top: 1em;
	margin-bottom: 1em;
	box-shadow: 0 0 10px 1px black
}

header>h1 {
    margin: 0 0 0 0.25em;
    color: #7cade4;
    text-shadow: 1px 1px black;
}

header>nav {
	margin-top: 1em;
}

header>nav>ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

header>nav>ul>li {
	display: inline;
}

header>nav>ul>li>a {
	display: inline-block;
	color: white;
	text-decoration: none;
	padding: 0.5em 0.75em;
}

header>nav>ul>li>a:hover {
	background-color: #003c6e;
}

main {
	width: 80%;
	margin: auto;
}

footer {
	display: flex;
	justify-content: space-around;
	margin-top: 3em;
	margin-bottom: 1.5em;
	font-size: smaller;
	color: #7f7f7f;
}

footer>ul.links {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

footer>ul.links>li {
	display: inline;
	margin: 0;
	padding: 0.25em;
}
