<!DOCTYPE html>
<html>
  <head>
    <title>Jsonet - Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jason R. Carrete">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/favicon.png">
  </head>
  <body>
    <header>
      <h1>Jsonet <span class="page-qualifier">Home</span></h1>
      <?php include $_SERVER['DOCUMENT_ROOT'] . '/html/navbar.html'; ?>
    </header>
    <main>
      <section>
        <h2 class="section-header">About this website</h2>
        <p>
          This webpage is hosted on some old computer made in the early 2000s in my basement.
          As it approaches the end of its life, I humbly request that you do not DDoS this address (poor computer can
          barely turn on at this point &#9785;). Anyway, this webpage is just a little
          project I've been working on in an attempt to learn more about web development
          and server administration.
        </p>
      </section>
    </main>
    <?php include $_SERVER['DOCUMENT_ROOT'] . '/html/footer.html'; ?>
  </body>
</html>
