{% extends 'base.html' %}

{% block header %}
<h1>Jsonet <span class="page-qualifier">{% block title %}Home{% endblock %}</span></h1>
{% endblock %}

{% block main_content %}
<section>
  <h2 class="section-header">About this website</h2>
  <p>
    This webpage is hosted on some old computer made in the early 2000s in my basement. As it approaches the end of
    its life, I humbly request that you do not DDoS this address (poor computer can barely turn on at this point).
    Anyway, this webpage is just a little project I've been working on in an attempt to learn more about web
    development and server administration.
  </p>
</section>
{% endblock %}
